@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
  }
  
@layer utilities {
    .first-color{
        color: #218ebc;
    }
    .first-bg-color{
        background-color: #218ebc;
    }
    .second-color{
        color: #363636;
    }
    .sencond-bg-color{
        background-color: #363636;
    }

}

.react-clock__mark__number {
    font-size: 1.2rem; /* Adjust size */
    font-weight: bold; /* Make the numbers bold */
    color: #333;       /* Add a visible color */
    position: absolute;
}



  